.number {
	color: firebrick;
}
.letter {
	color: cornflowerblue;
}
#super-ph > h2, #super-ph > h3 {
	color: forestgreen;
}
#super-ph span {
	font-weight: bold;
}
#super-ph .large {
	font-size: large;
}